@import url('https://fonts.cdnfonts.com/css/share-tech-mono');

.container {
  background-color: black;
  z-index: -2;
}

.main {
  min-height: 100vh;
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 12px 18px 12px 18px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(30, 30, 30);
  border-bottom: .1px solid #FFFFFF;
  align-items: center;
}

.header p {
  font: 400 16px 'Share Tech Mono';
  color: #D0D0D0;
  margin: 0 6px 0 6px;
}

.header__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  margin-left: 0;
  margin-top: 133px;
  padding-top: 100px;
  width: 50%;
  height: 391px;
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.title p {
  color: #B1B1B1;
  margin: 30px 0 0 60px;
  font: 400 50px 'Share Tech Mono';
}

.logo {
  position: absolute;
  align-self: center;
  margin-top: 130px;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 661px;
  height: 580px;
  overflow: hidden;
}

.grid {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 200px 0 100px 50px;
  align-items: flex-start;
  justify-content: center;
}

.grid_titles {
font: 400 16px 'Share Tech Mono';
color: #FFFFFF;
margin: 31px 0 39px 0;
}

.grid__buttons {
  flex-direction: row;
  display: flex;
  width: 100%;
  padding-right: 35px;
  justify-content: space-between;
}

.box__search {
  width: 388px;
  margin-right: 36px;
}

.box__project {
  right: 0;
}

.box__project,
.box__search,
.box {
  background-color: #646464;
  border: 1px solid white;
  font: 400 16px 'share-tech-mono';
  padding: 12px;
  z-index: 0;
}

.projects::-webkit-scrollbar {
  display: none;
}

.projects {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.upellipse {
  position: absolute;
  right: -50vw;
  top: -102;
  z-index: 0;
}

.downellipse {
  position: absolute;
  top: 100vh;
  left: -50vw;
  z-index: 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .upellipse {
    display: none;
  }

  .downellipse {
    display: none;
  }

  .title {
    height: 200px;
    padding-top: 20px;
  }

  .title p {
    font-size: 20px;
  }

  .logo {
    margin-top: 70px;
    height: 400px;
    width: 350px;
  }

  .grid__buttons {
    flex-direction: column;
  }

  .box__project,
  .box__search,
  .box {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  .header p {
    font-size: 12px;
  }

  .projects {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
}
